{% extends "base.html" %} {% block content %} {% load static %}

<section class="content">
    <div class="main-header">
        <img id="logo" src="/static/img/logo.png" class="logo" />
        <h1>Home</h1>
    </div>
    <section class="post_form">
        <div class="ditch"></div>
        <div class="user-img">
            <img src="/static/img/sample-icon.jpg" alt="" />
        </div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Name" required>
            <textarea name="body" placeholder="What's happening?" required></textarea>
            <div class="image-button">
                <input type="file"  name="image"/>
                <input type="submit" value="Tweet" />
            </div>
            
        </form>
    </section>
    <section class="posts">
        <ul>


            {% for post in posts %}
            <li>
                <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
                <div class="menu">
                    <a href="/delete/{{ post.id }}">Delete</a>
                    <div class="popover-body">
                        <a href="/edit/{{ post.id }}">Edit</a> 
                        <br>
                    </div>
                    
                </div>
                <div class="logo">
                    <img src="{%  static 'img/profile-user.png' %}" alt="">
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}</div>
                    <div class="datetime">{{ post.created_at }}</div>
                    <p>{{ post.body }}</p>
                    <img class="tweet-border" src="{{post.image.url }}"/></br>

                   
                        <div class="icon_list">
                            <form id="likes-form" action="{% url 'like_post' post.pk %}" method='POST'>
                             {% csrf_token %}
                             <button class="like-button" type="submit", name="post_id", value="{{ post.id }}" href="post_id"><img src="/static/img/heart.png" style="width: 20px;
                            margin: 0px 10px 0px 0px;"></button>
                             {{post.likes}}
                            </form>
                         </div>  

                    </div>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
        
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>


{% endblock %}